.App {
  text-align: center;
}

.ui.grid {
  padding: 0px 20px;
}

/* .floater {
  background: #FE4A73;
  display: inline;
  position: absolute;
  width: 170px;
  border-radius: 0 130px 130px 0;
  margin: 30px 0 0 -20px;
  padding: 10px;
  text-align: center;
  box-shadow: -5px 5px 7px 1px rgba(0, 0, 0, 0.2);
} */

.ui.grid > .row.bot-army-row {
  flex-wrap: nowrap;
  min-height: 100%;
}

.ui.card {
  margin: 10px 20px 10px 20px !important;
  /* border-radius: 0 130px 0 130px !important;
  box-shadow: -5px 5px 7px 1px rgba(0, 0, 0, 0.2) !important; */
  display: inline;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #CC3366;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav-title {
  font-size: 2.5em;
  font-family: Aclonica;
  text-align: center;
  padding-top: 20px;
  margin-left: 420px;
  padding-bottom: 20px;
}


.city-name {
  font-size: 4.5em;
  font-family: Aclonica;
  padding-top: 40px;
  padding-bottom: 40px;
}

.day-of-week {
  font-size: 2.5em;
  font-family: Verdana;
  padding-top: 20px;
  padding-bottom: 20px;
}

.temp {
  font-size: 1.4em;
  font-family: Verdana;
  padding-top: 5px;
  padding-bottom: 5px;
}

.search-element {
  font-size: 1.2em;
  padding-top: 20px;
}

.insta-grey {
  background-color: rgb(245, 245, 245);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
